@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MTCDemo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    var mtcaptchaConfig = {
      "sitekey": "@Configuration["MTCaptcha:SiteKey"]",
      "render": "explicit", 
      "renderQueue": []
     };
    
    //Explict MTCaptcha (async) call to initialize and render captcha widget 
    mtcaptchaConfig.renderQueue.push("someMTCaptchaID");

    (function(){var mt_service = document.createElement('script');mt_service.async = true;mt_service.src = 'https://service.mtcaptcha.com/mtcv1/client/mtcaptcha.min.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service);
    var mt_service2 = document.createElement('script');mt_service2.async = true;mt_service2.src = 'https://service2.mtcaptcha.com/mtcv1/client/mtcaptcha2.min.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service2);}) ();
   
    function getMTCaptchaToken(captchaID) {
     return mtcaptcha.getVerifiedToken(captchaID);
    }
   </script>
</body>

</html>
